.Footer{
    position: absolute;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    background-color: #54A3EC;
    padding: 35px 140px 35px 140px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
        display: flex;
        align-items: center;
    }
    .icon-box{
        display: flex;
        align-items: center;
        padding-left: 41px;
        .icon{
            display: flex;
            align-items: center;
            padding: 0px 7px 0px 7px;
        }
    }
    p{
        margin: 0px;
        color: white;
        font-family: sans-serif;
        font-weight: 500;
        &.bigger{
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 815px) {
    .Footer{
        display: grid;
        .left{
            justify-content: center;
            display: grid;
            .icon-box{
                justify-content: center;
                padding: 5px 0px 5px 0px;
            }
        }
        padding: 20px 20px 20px 20px;
        justify-content: center;
    }
}

@media only screen and (max-width: 410px) {
    .Footer{
        padding: 10px 20px 10px 20px;
    }
}