.NavigationMenu{
    border-right: 1px solid rgba(0, 0, 0, 0.158);
    position: fixed;
    top: 0px;
    left: 0px;
    height: calc( 100vh - 118px);
    background-color: white;
    padding: 70px 12px 48px 12px;
    display: flex;
    flex-direction: column;
    animation-duration: 0.1s;
    transition-duration: 0.1s;
    width: 230px;
    justify-content: space-between;
    // box-sizing: border-box;
    .button{
        cursor: pointer;
        margin: 4px 0px 4px 0px;
        padding: 12px;
        display: flex;
        align-items: center;
        height: fit-content;
        position: relative;
        &.back-color{
            background-color: #FAFAFA;
            border-radius: 15px;
            p{
                color: rgb(85, 164, 236);
            }
        }
        p{
            position: absolute;
            left: 40px;
            animation-duration: 0.5s;
            margin: 0px 0px 0px 20px;
            font-size: 1.125rem;
            font-family: sans-serif;
            font-weight: 600;
        }
        svg.blue{
            // filter: sepia(10%) hue-rotate(349deg) saturate(5000%);
        }
    }
    &.mouse-up{
        width: 51px;
        p{
            display: none;
        }
    }
}


@media only screen and (max-width: 815px) {
    .NavigationMenu{
        height: calc( 100vh - 100px);
        padding: 70px 3px 30px 3px;
        width: 200px;
        .button{
            padding: 10px;
            p{
                left: 30px;
                font-size: 1.025rem;
                font-weight: 600;
                &.bigger{
                    font-size: 1.225rem;
                }
            }
        }
        &.mouse-up{
            width: 47px;
            p{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 410px) {
    .NavigationMenu{
        height: calc( 100vh - 90px);
        padding: 70px 3px 20px 3px;
        width: 180px;
        .button{
            padding: 8px;
            p{
                left: 25px;
                font-size: 0.925rem;
                font-weight: 600;
                &.bigger{
                    font-size: 1.125rem;
                }
            }
        }
        &.mouse-up{
            width: 42px;
            p{
                display: none;
            }
        }
    }
}